<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MicroService</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.hidden {
	display: none;
}
</style>
</head>
<body>

	Hello, MicroService!
	<br />

	<div class="authenticate hidden">
		<a class="connect" href="">Connect to OAuth Server</a> <br/>
		<a class="connect" href="">Connect to Edge Server</a>
	</div>

	<div class="authenticated hidden">
		<p>
			token: <span class="token">[no token]</span>
		</p>

		<p>
			user_name: <span class="user">[no username]</span>
		</p>
	</div>

	<div>
		<span id="rest_url">http://localhost:8081/users</span><button onclick="myFunction()">Send</button><br/>
		Response: <br/>
		<span id="response">[no response]</span>
	</div>


	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		// use token to make the call to edge server
		function myFunction() {
			var rest_url = $("#rest_url").text();
			var token = $('span.token').text();
			$.ajax({
				url : rest_url,
				beforeSend : function(xhr) {
					xhr.setRequestHeader('Authorization', "BEARER " + token);
					xhr.setRequestHeader('Accept', "application/json");
				},
				success : function(response) {
					var container = $('#response');
					if (response) {
						var result = ""
						$.each(response, function(i, item) {
							result = result + "{id: "+item.id+" userName: "+item.userName+"}, ";
				        });						
						container.text(result);
					} else {
						container.text("An error occurred.");
					}
				},
			    error: function (xhr, status, errorThrown) {
					var container = $('#response');
			    	container.text("Error Code: " + xhr.status + " Error Messgae: " + xhr.responseText);
				}
			});
		}
		
		function isJwt (token) {
			return token.indexOf('.') != -1;
		}

		function parseJwt (token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            return JSON.parse(window.atob(base64));
        };
        
		// retrive oauth2 returned token from url
        function extractToken (hash) {
			var match = hash.match(/access_token=([\w-\.]+)/);
			return !!match && match[1];
		};
		
		$(document).ready(
			function() {
				var CLIENT_ID = "lin";
				var CLIENT_SECRET = "secret";
				var AUTHORIZATION_ENDPOINT = "http://localhost:8082/oauth/authorize";
				var RESOURCE_ENDPOINT = "http://localhost:8082/oauth/check_token?token=";

				var token = extractToken(document.location.hash);
				if (token) {
					$('div.authenticated').show();
					$('span.token').text(token);

					// get user_name
					var container = $('span.user');
					if (isJwt (token)) {
						// get userinformation from jwt
						var jwtJson = parseJwt (token);
						container.text(jwtJson.user_name);
					} else {
						// use check_token to retrieve user_name
						$.ajax({
							url : RESOURCE_ENDPOINT+token,
							beforeSend : function(xhr) {
							    xhr.setRequestHeader("Authorization", "Basic " + window.btoa(CLIENT_ID + ":" + CLIENT_SECRET));
							},
							success : function(response) {
								if (response) {
									container.text(response.user_name);
								} else {
									container.text("An error occurred.");
								}
							}
						});
					}
				} else {
					$('div.authenticate').show();

					// OAuth implicit flow 
					var authUrl = AUTHORIZATION_ENDPOINT
							+ "?response_type=token"
							+ "&client_id=" + CLIENT_ID
							+ "&redirect_uri=" + window.location;

					$("a.connect").attr("href", authUrl);
				}
			});
	</script>
</body>
</html>